.diagram
 {
  width: 100%;
}

.raw-label-pie, .confusion-matrix {
  max-width: 250px;
}

.ecg-diagram {
  max-width: 270px;
}

.original-ecg, .gaussian-ecg {
  max-width: 350px;
}

.tcn-diagram {
  max-width: 400px;
}

.cluster-size {
  max-width: 450px;
}

.cluster-labels {
  max-width: 550px;
}

.cluster-tsne {
  max-width: 600px;
}

.arrhythmia-labels, .classifier-train {
  max-width: 700px;
}

.clustered-ecgs {
  max-width: 950px;
}

.aligned-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.highlight {
  background-color: var(--lilac);
}
