.diagram
 {
  width: 100%;
}

.ecg-diagram {
  max-width: 270px;
}

.tcn-diagram {
  max-width: 400px;
}

.raw-label-pie {
  max-width: 230px;
}

.raw-label-matrix {
  max-width: 230px;
}

.original-ecg {
  max-width: 350px;
}

.gaussian-ecg {
  max-width: 350px;
}

.clustered-ecgs {
  max-width: 950px;
}

.cluster-labels {
  max-width: 550px;
}

.arrhythmia-labels {
  max-width: 700px;
}

.aligned-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
