.footer {
  text-align: center;
  font-family: TwCen;
  overflow: hidden;
  background-image: linear-gradient(to right, var(--darkpurple),  var(--purple));
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
  padding: 5px;
}

.footer a {
  color: white;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
}
