:root {
  --purple: #6100FE;
  --darkpurple: #3500A0;
  --brightpurple: #6600FF;
  --midgrey: #BFBFBF;
  --lightgrey: #F2F2F2;
  --limegreen: #7ffc03;
  --green: #6ad40d;
}

/** Custom fonts **/
@font-face {
  font-family: lovestory;
  src: url('../Assets/Fonts/love_story_2/lovestory.ttf');
}

@font-face {
  font-family: TCCEB;
  src: url('../Assets/Fonts/TCCEB/TCCEB.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  margin: auto;
  font-family: Segoe UI Historic;
}

h1 {
  font-size: 25px;
  font-family: TCCEB;
  background-color: var(--midgrey)
}

h2 {
  font-size: 20px;
  font-family: TCCEB;
}

h3 {
  font-size: 16px;
  font-family: Segoe UI Historic;
  text-decoration: underline;
  color: var(--brightpurple);
}

.content {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 230px;
  overflow: visible;
  min-width: 450px;
}

h1, h2, h3, p {
  padding: 3px;
}

span {
  font-weight: bold;
  color: var(--brightpurple);
}

figure {
  text-align: center;
  margin: 0px -3px 0px -3px;
}

figcaption {
  font-size: 12px;
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: black;
  color: white;
}

a {
  color: grey;
}

a:hover {
  color: var(--green);
}

/** Reposition anchor tags above linked content **/
a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  background-image: linear-gradient(to top, var(--purple), var(--darkpurple));
}

/* WebKit and Blink browsers text selection */
::selection {
  background: var(--limegreen);
}

/* Gecko Browsers text selection */
::-moz-selection {
  background: var(--limegreen);
}

@media screen and (max-width: 720px) {
  .content {
    margin-top: 240px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .content {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .content {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 840px) {
  .content {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 840px) {
  .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
