.profilepic {
  width: 50px;
  height: 50px;
	border-radius: 50%;
  margin-top: 10px;
}

.other-profile {
  margin-left: -20px;
  margin-right: 13px;
}

#username {
  font-size: 25px;
}

.header {
  font-family: TwCen;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(to top, var(--darkpurple),  var(--purple));
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
}

.header a {
  float: left;
  color: white;
  padding: 10px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
}

#header-left a {
  font-size: 22px;
}

.header-right a {
  font-size: min(2vw, 18px);
}

@keyframes rotation {
  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(0.5deg);
  }
}

#header-left {
  float: left;
  font-family: pineapple;
}

.header-right, #header-github {
  float: right;
}

#header-left:hover, .navtext:hover {
  transition: 0.3s;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.2));
  animation-duration: 1.5s;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@media screen and (max-width: 720px) {
  #header-left, #header-center, .header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #header-left a, #header-center a {
    font-size: 26px;
    font-size: min(5vw, 30px);
  }

  .header-right a {
    font-size: 3vw;
  }
}
