.profilepic {
  width: 50px;
  height: 50px;
	border-radius: 50%;
  margin-top: 10px;
}

.other-profile {
  margin-left: -20px;
  margin-right: 13px;
}

.profilepic:hover {
  animation: IncreaseSize 1.5s linear infinite;
}

@keyframes IncreaseSize {
  0%, 100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes IncreaseSizeSmall {
  0%, 100% {
    transform: scale(1.01);
  }
  25% {
    transform: scale(1.04);
  }
}

#sitename {
  font-size: max(20px, min(30px, 3.5vw));
}

.header {
  font-family: TCCEB;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 450px;
  z-index: 100;
  background-image: linear-gradient(to bottom, var(--darkpurple),  var(--purple));
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.2));
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.header a {
  color: white;
  padding: 10px;
  text-decoration: none;
  line-height: 50px;
  white-space: nowrap;
}

#header-top, #header-center, .header-lower {
  display: flex;
  justify-content: center;
  text-align: center;
}

#header-top {
  background: rgba(0, 0, 0, 0.75);
}

#header-center {
  width: 100%;
}

#header-tom, #header-others {
  float: left;
  display: flex;
}

#name-text {
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecg {
  padding-top: 15px;
  max-width: 250px;
  min-width: 210px;
  width: 20%;
  position: absolute;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.ecg:hover {
  animation: IncreaseSizeSmall 1.1s linear infinite;
}

.ecg-left {
  float: left;
  left: 0%;
}

.ecg-right {
  float: right;
  right: 0%;
}

#header-top a {
  float: none;
  font-size: max(15px, min(3vw, 20px));
  font-family: lovestory;
  vertical-align: middle;
}

.header-lower a {
  font-size: max(14px, min(2vw, 18px));
}

.navtext:hover {
  animation: IncreaseSizeSmall 1.1s linear infinite;
}

.navtext:hover:not(#username) {
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .header a {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 930px) {
  .ecg {
    opacity: 0;
  }
}

@media screen and (max-width: 635px) {
  .header-lower {
    width: 100%;
    display: inline-block;
  }
}
